
@model EcommerceOsorioManha.Models.Produto



<div class="col-sm-4">
    @using (Html.BeginForm("AlterarProduto", "Produto", FormMethod.Post, new { @class = "form-group" }))
    {

        <fieldset>
            <legend>Alterar Produto</legend>
            @Html.HiddenFor(model => model.ProdutoId)

            @Html.Label("Nome do produto")
            @Html.TextBoxFor(model => model.Nome,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Nome do Produto"

                    })
            @Html.ValidationMessageFor(model => model.Nome, null, new { @class = "text-danger" })
            <br><br>

            @Html.Label("Descrição do produto")
            @Html.TextBoxFor(model => model.Descricao,
                    new
                    {

                        @class = "form-control",
                        @placeholder = "Desc. do Produto"

                    })
            @Html.ValidationMessageFor(model => model.Descricao, null, new { @class = "text-danger" })
            <br><br>

            @Html.Label("Preço do produto")
            @Html.TextBoxFor(model => model.Preco,
               new
               {
                   @class = "form-control",
                   @placeholder = "Preço em R$"
               })
            @Html.ValidationMessageFor(model => model.Preco, null, new { @class = "text-danger" })
            <br><br>

            @Html.Label("Categoria do produto")
            @Html.TextBoxFor(model => model.Categoria,
               new
               {
                   @class = "form-control",
                   @placeholder = "Categ. do Produto"
               })
            @Html.ValidationMessageFor(model => model.Categoria, null, new { @class = "text-danger" })
            <br><br>

        </fieldset>
            <input type="submit" value="Alterar" class="btn btn-warning" />
            <p>
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            </p>
    }
</div>
